/* Navegacion */
.navbar 
{
    text-decoration-line: none;
    text-decoration: none;
    background-color: $color-secundario;
    width: 100%;
    height: 150px;
    a {
        text-decoration: none;
        color: $color-fuentes;
        font-size: 1.5rem;
        font-family: "Montserrat", sans-serif;
    } 
}

.navbar-collapse{
    position: relative;
    bottom: 55px;
    background-color: $color-secundario;
    padding: 10px;
}
@media (min-width: 660px){
    .navbar-collapse{
        bottom: 103px;
        padding: 40px;
    }
}
@media (min-width: 990px){
    .navbar-collapse{
        bottom: 165px;
        padding: 40px;
    }
}

.navbar-toggler{
    position: relative;
    bottom: 30px;
    right: 5px;
}
@media (min-width: 660px){
    .navbar-toggler{
        bottom: 70px;
        right: 10px;
    }
}
@media (min-width: 990px){
    .navbar-toggler{
        bottom: 160px;
        right: 20px;
    }
}
.logo{
    width: 90px;
    position: relative;
    bottom: 50px;
}
@media (min-width: 660px){
    .logo{
        bottom: 100px;
        width: 110px;
    }
}
@media (min-width: 990px){
    .logo{
        bottom: 160px;
        width: 160px;
    }
}

.bi-cart{
    padding-right: 0px;
    margin: 0;
    position: relative;
    bottom: 3px;
}
@media (min-width: 660px){
    .bi-cart{
        right: 5px;
        bottom: 30px;
        font-size: 30px;
    }
}
@media (min-width: 990px){
    .bi-cart{
        left: 80px;
        font-size: 35px;
        top: 5px;
    }
}
.ir-arriba {
    text-decoration: none;
    font-size: 1rem;
    color: $color-fuentes-oscuras;
    border:solid 2px;
    border-color: $color-fuentes;
    padding: 3px;
    margin-bottom: 20px;
}

@media (min-width: 660px) {
    .ir-arriba {
    font-size: 1.5rem;
    }
}
.link-conocenos{
    text-decoration: none;
    color: $color-fuentes-oscuras;
    @include flex-center;
    width: 100%;
    font-weight: bold;
}
.link-carrito {
    width: 100%;
    @include flex-end;
    padding-right: 20px;
}
@media (min-width: 990px){
    .link-carrito{
        padding-right: 110px;
    }
}

.container-fluid{
    padding: 0%;
}

.dropdown-item {
    @include flex-center;
    background-color: $color-primario;
    width: 0px;
    margin: 0 auto;
    &:hover
    {
        font-size: 1.7rem;
        color:  $color-secundario;
        background-color: $color-primario;
    }    
}

.dropdown-menu {
    background-color: $color-primario;
}

.nav-link-ig {
@include flex-end;
    font-size: 1.5rem;
    margin-right: 5px;
    color: $color-fuentes;
}

@media (min-width: 660px) {
    .nav-link-ig {
    font-size: 2rem;
    }
}


li
{
    display: inline;
    gap: 20px;
    font-family: "Montserrat", sans-serif;
}

/* Selecciona tu producto */
select {
    text-align: start;
    margin-top: 10px;
    background-color: $color-secundario;
    border: solid 1px;
    border-color: $color-fuentes-oscuras;
    font-size: 0.8rem;
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
}

@media (min-width: 660px) {
    select {
        font-size: 1rem;
    }
}
.selecciona {
    background-color: $color-secundario;
    padding-bottom: 5px;
    text-align: start;
    font-family: "Montserrat", sans-serif;
}

.label-selec {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 1.1rem;
    color: $color-secundario;
}

.elegi {
    font-size: 15px;
    margin-left: 10px;
    font-weight: 400;
}

@media (min-width: 660px) {
    .elegi {
        font-size: 1.2rem;
    }
}

