/* Cards */
.padre-cards
{
    width: 300px;
    @include flex-row-wrap;
    text-align: center;
    margin-top: 10px;

    img 
    {
        border: solid 6px;
        width: 250px;
        border-color: $color-secundario;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    p 
    {
        background-color: $color-fuentes;
        margin-top: 5px;
        font-size: 25px;
        color: $color-secundario;
        text-align: center;
        font-family: "Montserrat", sans-serif;
    }

    button 
    {
        background-color: $color-secundario;
        font-size: 1.2rem;
        color: $color-fuentes;
        padding: 10px;
        margin-top: 10px;
        margin-inline: 30px;
        margin-bottom: 20px;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        border-radius: 10px;
        border: none;
        &:hover{
            background-color: $color-fuentes;
            color: $color-secundario;
        }
        &:active{
            background-color: $color-secundario;
            color: $color-fuentes;
        }
    }
}

.div-cards{
    padding: 10px;
    margin: 20px 0px 20px 0px;
    border-radius: 10px;
    background-color: $color-fuentes;
}
.contenidoCarrito{
    width:100%;
    @include flex-row-wrap;
}

.productName{
    display: none;
}
.padre-cards:hover{
    .productName{
            display: flex;
            font-size: .5rem;
    }
}