/* Formularios */
.formulario-index {
    margin-top: 30px;
    background-color: $color-primario;
    margin-bottom: 30px;
    @include flex-column-center;

    p{
        width: 100%;
        font-size: 20px;
        color: $color-fuentes-oscuras;
    }
}
@media(min-width:660px){
    .formulario-index p{
        font-size:25px;
    }
}
.label{
    margin-left: 20px;
    color: $color-fuentes-oscuras;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

@media (min-width:660px) {
    .label{
        font-size: 1.5rem;
    }
}
@media (min-width:990px) {
    .label{
        font-size: 1.7rem;
    }
}

    .form-contacto {
        flex-direction: column;
        color: $color-fuentes-oscuras;
        background-color: $color-primario;
        font-size: 18px;
        @include flex-column-center
    }
    
    @media (min-width: 660px) {
        .form-contacto {
        font-size: 1.5rem;
        margin-left: 20px;
        margin-top: 40px;
        }
    }

    .div-form-genero{
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 30px;
    }
textarea {
    margin-left: 20px;
    border: solid 2px;
    border-color: $color-fuentes;
    width: 250px;
    height: 100px;
}

@media (min-width: 660px) {
    textarea {
    width: 400px;
    height: 200px;
    }
}
input {
    margin-left: 20px;
    border: solid 2px;
    border-color: $color-fuentes;
    font-size: 15px;
    @include flex-column-center
}
@media (min-width: 660px){
    input{
        font-size: 25px;
    }

    @media (min-width: 990px){
        input{
            font-size: 27px;
        }
    }
}
.botones-formulario {
    border-radius: 20px;
    margin-top:5px;
    margin-left:20px;
    font-size:10px;
    background-color: $color-secundario;
    color: $color-fuentes-oscuras;
    font-family: "Montserrat", sans-serif;
    padding: 3px;
    width: 110px;
    align-items: center;
}

@media (min-width: 660px) 
    {.botones-formulario {
        width: 170px;
        font-size: 16px;
    }
}
