/* Parrafos */
p {
    font-size: $size-p;
    font-family: "Montserrat", sans-serif;
    @include flex-center;
    background-color: $color-secundario;
}

@media (min-width: 660px) {
    p {
        font-size: $size-p + .5rem;
    }
}

.resumen-index{
    font-size: $size-p - .5rem;
    background-color: $color-primario;
    text-align: center;
    margin-inline: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
}
@media (min-width: 660px){
    .resumen-index{
        margin-inline: 100px;
    }
}
@media (min-width: 990px){
    .resumen-index{
        margin-inline: 200px;
    }
}
@media (min-width: 1100px){
    .resumen-index{
        margin-inline: 300px;
    }
}
