/* variables de la paleta de colores */
$color-primario: #A78A7F ;
$color-secundario: #E7D7C1 ;
$color-fuentes: #735751; 
$color-fuentes-oscuras: #33221e ;
/* variables de fuentes */
$size-h1: 2rem ;
$size-p: 1.5rem;